body
{
	border: 1px solid #000088;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 1024px;
	height: 100%;
}

footer
{
	font-weight: bold;
	text-align: center;
	width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}

header nav
{
	display: none;
}

header nav ul
{
	text-align: center;
}

header nav ul li
{
	display: inline-block;
}

header .page-header
{
	margin-left: 15px;
}

img
{
	border-radius: 500px;
}
#panelProyectos{
	text-align: center;
}

.jumbotron{
	 min-height: 100%;
    position: relative;
}







